body {
  background-color: honeydew;
  font-family: "sans-serif";
}

div {
  margin-top: 10px;
}

.wrapper {

  color: black;
  float: center;
  text-align: center;
  width: 80%;
  margin: auto;
  
}
.header {
  background-color: red;
  float: left;
  width: 100%;
}
.left {
  /* background-color: orange; */
  float: left;
  width: 25%;
}

.left_item {
  background-color: orange;
  text-align: left;
  border-style: solid;
  border-color: green;
  text-align: left;
}
.content {
  background-color: green;
  padding: 5px 10px;
  text-align: left;
  float: right;
  width: 70%;
  border-style: solid;
  border-color: blue;
}

.right {
  background-color: orange;
  float: left;
  width: 25%;
}
.footer {
  background-color: blue;
  float: left;
  width: 100%;
}
.header, .footer {
  margin: 1% 0;
}



.App {
  width: 500px;
  text-align: left;
  border-style: solid;
  border-color: green;
}

/* text-align: center; */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-size: calc(22px + 2vmin);
  color: white;
  
}

/* background-color: #282c34;
min-height: 100vh;
display: flex;
flex-direction: column;
align-items: left;
justify-content: center;
font-size: calc(22px + 2vmin);
color: white; */


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
